body {
  font-family: 'Inter', sans-serif;
}

.color-change {

  animation: color-change 10s infinite;
}

@keyframes color-change {
  0% {
    color: red;
  }

  10% {
    color: orange;
  }

  20% {
    color: yellow;
  }

  30% {
    color: greenyellow;
  }

  40% {
    color: green;
  }

  50% {
    color: aquamarine;
  }

  60% {
    color: aqua;
  }

  70% {
    color: blue;
  }

  80% {
    color: violet;
  }

  90% {
    color: indigo;
  }

  100% {
    color: red;
  }


}

.fun-div {
  font-family: arial black;
  background-clip: unset;
  background-image:
    linear-gradient(to right, white, orange, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 500s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

.fun-footer {
  font-family: arial black;
  background-clip: unset;
  background-image:
    linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 100s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}